<!DOCTYPE html>
<html>

<head>
  <title>Gender Plot</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>

<body>

  <div id="gender-graph"></div>
  <button type="button" id="updatePlot">Update Plot</button>

</body>

<script>

  let genderGraph = document.getElementById('gender-graph');
  
  // Main layout for our gender plot
  var plotLayout = {
        autosize: false,
        width: 800,
        height: 400,
        margin: {
          l: 50,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
        },
        xaxis: {
          autorange: true,
          showgrid: false,
          zeroline: false,
          showline: false,
          autotick: true,
          ticks: '',
          showticklabels: false
        },
        yaxis: {
          autorange: true,
          showgrid: false,
          zeroline: false,
          showline: false,
          autotick: true,
          ticks: '',
          showticklabels: false
        }
      }

  function initPlot() {
      
      // Create an empty plot
      // Data will be populated throug updatePlot function
      var plotlyGraphData = [{
        x: [],
        y: [],
        text: [],
        mode: 'text',
        textposition: 'bottom',
      }]

      Plotly.plot(genderGraph, plotlyGraphData, plotLayout);
  }


  function updatePlot() {

    $.ajax({url: "/graph", success: function(graphData){
      
      console.log('[D] Updating plot wiht data: ', graphData)
      
      var plotlyGraphData = [{
        x: graphData.xValues,
        y: graphData.yValues,
        text: graphData.words,
        mode: 'text',
        textposition: 'bottom',
      }];
      
      Plotly.newPlot(genderGraph, plotlyGraphData, plotLayout);
      Plotly.redraw(genderGraph);
    }}); // AJAX END
  }

  $(document).ready(function () {
    initPlot();
    updatePlot();
  });

  $("#updatePlot").click(function() {
    updatePlot();
  });

</script>

</html>
