html * {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

p {
  font-size: 14px;
  text-align: justify;
  margin: 0 0 10px 0;
}

.button {
    background-color: rgb(160, 260, 220);
    border: none;
    color: white;
    padding: 3px 32px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

select {
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 2px 35px 2px 5px;
  border: 1px solid #ccc;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://maxcdn.icons8.com/Share/icon/Data//scatter_plot1600.png) 96% / 15% no-repeat #eee;
}

#add-word-btn {
  position: relative;
}

#center-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

#graph-canvas {
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
}

.word-bin {
  padding: 10px;
  flex-grow: 1;
}

.word {
  position: relative;
  font-size: 13px;
}

.word.new-word {
  animation-name: new-word-anim;
  animation-duration: 1s;
}

#graph-container {

}

#input-container {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

#input-container .input-item {
  box-sizing: border-box;
  flex-basis: 25%;
  margin-bottom: 10px;
}

#input-container .status-bar {
  font-size: 12px;
}

#graph-header {
  display: flex;
  justify-content: space-between;
}

.word-title {
  font-size: 20px;
  /*margin-top: 200px;*/
  opacity: 0.4;
  flex-grow: 1
  /*color: white;*/
}

.bin-header {
  margin-bottom: 10px;
}

#to-word-title {
  text-align: right;
}

@keyframes new-word-anim {
    from {
      opacity: 0;
      color: rgb(210, 230,255);
      font-size: 30px;
    }
    to {
      opacity: 1;
      color: inherit;
      font-size: inherit;
    }
}

@media (max-width: 1200px) {
  #center-div {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  #center-div {
    width: 100%;
  }
}
