html * {
}

body {
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #66595c;
    font-size: 14px;
}

h1 {
  font-weight: 300;
}

p {
  line-height: 20px;
  text-align: justify;
  margin: 0 0 10px 0;
}

a {
  color: #40a977;
}

img {
  height: 100%;
  margin-bottom: 20px;
}

.button {
    background-color: rgb(87, 187, 240);
    border: none;
    color: white;
    /*padding: 3px 32px;*/
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

select {
  border: 1px solid #111;
  background: transparent;
  padding: 2px 35px 2px 5px;
  border: 1px solid #ccc;
  height: 25px;
  width: 150px;
  background-color: #eee;
}

video {
  width: 100%;
}

#read-more-btn {
  margin-bottom: 20px;
}

#add-word-btn {
  position: relative;
}

#center-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

#graph-canvas {
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
}

.word-bin {
  padding: 10px;
  flex-grow: 1;
}

.graph-word {
  position: relative;
  font-size: 100%;
  color: #4a4a4a;
}

.graph-word.new-word {
  animation-name: new-word-anim;
  animation-duration: 1s;
}

.expander-btn-container {
  margin-bottom: 10px;
}

#input-container {
  display: flex;
  justify-content: space-between;
}

#input-container .input-item {
  box-sizing: border-box;
  margin-bottom: 10px;
  flex-basis: 23%;
}


#add-word-btn {

}

#new-word-input {

}

#input-status-bar {

}

.input-item #reset-btn {
  flex-basis: 10%;
}

#input-container .status-bar {
  max-height: 20px;
  margin-top: 3px;
}

.word-title {
  opacity: 0.4;
  flex-grow: 1
}

.bin-header {
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 0.7;
  color: white;
  font-size: 120%;
}

#bin-4 .bin-header {
  text-align: center;
  text-decoration: none;
}

#to-word-title {
  text-align: right;
}

#model-info {
  /*font-size: 14px;*/
  margin: 0 10px 10px 0;
}

.btn-loading {
  cursor: not-allowed;
  animation: btn-load-anim 2s linear infinite;
}

#credits {
  margin-top: 20px;
}

#buttom-control {
  display: flex;
}

.buttom-control-column {
  flex: 1;
}

.buttom-control-column.reset-btn {
  text-align: right;
}

#like-container {
  display: flex;
  margin-right: 10px;
}

#like-container .input-item {
  flex: 1;
}

#like-container .like-elem {
  padding-top: 3px;
}

#like-container img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}

.like-clicked {
  animation: heart-anim .8s ease-in-out;
}

@keyframes btn-load-anim {
  50% {background-color: rgb(150, 250, 240);}
}

@keyframes heart-anim {
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1.8, 1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes new-word-anim {
    0% {
      opacity: 0;
      color: rgb(210, 230,255);
      font-size: 0px;
    }
    50% {
      opacity: 1;
      font-size: 130%;
      color: #ace600;
      font-weight: bold;
    }
    100% {
      color: inherit;
      font-size: inherit;
    }
}

@media (max-width: 1450px) {
  #center-div {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  #center-div {
    width: 80%;
  }
}

@media (max-width: 1000px) {

  #bin-4 .bin-header {
    text-align: inherit;
  }

  #bin-2 .bin-header {
    text-align: center;
    text-decoration: none;
  }

  #center-div {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #input-container {
    flex-direction: column;
  }

  select {

  }
}
